@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700,900i");
*{
	font-family: 'Roboto', sans-serif;
	margin:0;
	padding:0;
}
*:focus {
    outline: none;
}
.main-container{
	height: 100vh;
    overflow-y: hidden;
}
.color-white{
	color:#ffffff;
}
.color-yellow{
	color:#FFFF91;
}
.color-blue{
	color:#50C8C8;
}
#main-header{
	position: fixed;
    height: 100vh;
    z-index: 2;
    width: 50px;
    background-image: url("images/bluenoise1.png");
}
#main-header ul li{
	text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(151, 222, 251, 0.25);
}
#main-header ul li a .fas{
	color: #D7E4E2;
	font-size: 1.85rem;
	-webkit-transition:.3s color ease-in-out;
	transition:.3s color ease-in-out;
}
#main-header ul li a:hover .fas{
	color: #ffffff;
}
.section{
	overflow: hidden;
	position: relative;
	z-index: 1;
	width: 100%;
	height: 100vh;
	background-image: url("images/bluenoise2.png");
}
.section-content{
	padding: 1.5rem;
	margin-left: 50px;
}
.title-section{
	font-size: 5rem;
	text-transform:uppercase; 
}
.subtitle-section{
    font-size: 1rem;
    letter-spacing: 1px;
    color: #FFFFFF;
    text-transform: capitalize;
}
.subtitle-section:before {
    bottom: .25rem;
    content: '';
    position: relative;
    display: inline-block;
    width: 85px;
    height: 1px;
    margin-right: 10px;
    color: #fff;
    background-color: #ffffff;
}
/**/
.img-profile-container{
	width: 220px;
    height: 220px;
    overflow: hidden;
    border-radius: 50%;
    border: 10px solid #50C8C8;
    margin: 0 auto 0;
    animation: float 5s ease-in-out infinite;
    position: relative;
    z-index: 2;
}
.img-profile-container img{
	width: 100%;
}
.img-coding{
	width: 50%;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
}
.img-gears{
	width: 25%;
    position: absolute;
    left: 150px;
    bottom: 100px;
    z-index: 1;
}
.skills{
	list-style: none;
    margin-top: 1rem;
}
.skills li{
	font-size: 2rem;
}
.skills li:before {
	font-family: "Font Awesome 5 Free";
    content: "\f005";
}
/**/
.social-media-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.social-media{
	list-style: none;
}
.social-media li{
	display: inline-block;
}
.social-media li a i{
	font-size: 5rem;
	color: #ffffff;
}
.social-media li a i:not(last-child){
	margin-right: 1rem;
}
/**/
@keyframes float {
	0% {
		transform: translatey(5px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(5px);
	}
}
/**/
.credits {
    font-weight: lighter;
    font-size: 12px;
    position: absolute;
    bottom: 10px;
    max-width: 300px;
    color: #fff;
}
/**/
@media only screen and (max-width: 767px){
	.title-section {
    	font-size: 3rem;
	}
	.img-profile-container{
		width: 220px;
    	height: 220px;
		margin-top: 2rem;
	}
	.img-gears{
		left: 60px;
	}
	.img-coding{
		width: 300px;
		right: -50px;
	}
}
@media only screen and (max-width: 350px){
	.title-section {
    	font-size: 2rem;
	}
}